*,
*::before,
*::after {
  box-sizing: border-box;
}

@import "tailwindcss";

body {
  font-style: normal;
  font-optical-sizing: auto;
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}
